Makefile.in
aclocal.m4
autom4te.cache
configure

config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/ltmain.sh
config/lt*.m4
config/missing

config/test-driver
